* {
    box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
@font-face {
    font-family: menuFont;
    src: url(../fonts/menu.ttf);
}
@font-face {
	font-family: ptsans;
	src: url(../fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
	font-family: ptsans;
	src: url(../fonts/PT_Sans-Web-Bold.ttf);
	font-weight: bold;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
/*************************************
	Wrapper
**************************************/
.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}
/*************************************
	Content
**************************************/
#content {
	padding: 50px 10px 10px 10px;
	font: 0.95em ptsans, sans-serif;
	color: #515151;
	text-align: justify;
}
.textBlock h2 {
	font-size: 1.1em;
	text-transform: uppercase;
}
.textBlock p {
	font-size: 0.9em;
	padding: 0 5px;
}
/*************************************
	Menu
**************************************/
.menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9;
	font: 1em menuFont;
	text-transform: uppercase;
	text-align: center;
}
.thevisualsfactorylogo {
	position: fixed;
	height: 36px;
	margin: 7px;
}
.companyName {
	display: inline-block;
	width: 100%;
	padding-top: 13px;
	padding-bottom: 14px;
	font: 1em menuFont;
}
#menuButton {
	position: fixed;
	top: 0;
	right: 0;
	height: 18px;
	margin: 16px;
	cursor: pointer;
}
#apartados,
#social {
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	list-style: none;
}
#apartados li,
#social li {
	padding: 10px 0;
}
#apartados li a,
#social li a {
	color: #888;
	text-decoration: none;
}
#social {
	border-bottom: 1px solid #e9e9e9;
}
@media (min-width: 768px) {
	.menu {
		background-color: #444;
	}
}
.hide {
	display: none;
}
.show {
	display: block;
}
.linkButton {
	display: inline-block;
	width: 100%;
	padding: 10px 5px;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 6px;
	border: 1px solid #e9e9e9;
	text-decoration: none;
	color: #515151;
}
.contactTitle {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.strong {
	font-weight: bold;
}
/*************************************
	Gallery
**************************************/
#gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
}
#gallery ul li {
	width: 139px;
	height: 136px;
	background-color: #888;
	display: inline-block;
	margin: 0 5px 5px 0;
}
#gallery ul li img {
	margin: 0;
	padding: 0;
}